
# Local .terraform directories
**/.terraform/

# terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Sensitive variable files (if not managed separately)
*.tfvars
*.tfvars.json

# Terraform override files 
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# Terraform CLI configuration files
.terraformrc
terraform.rc

# provider lock file ( consider comitting if consistent provider versions are critical)
.terraform.lock.hcl